<section>
  <h2 class="quiz_title">C'est parti {{ playerName }}, soit prêt !</h2>
  <h3>{{ selectedCategory }}</h3>
  <section class="quiz_reset" *ngIf="isQuizFinished">
    <h3>You can see your answers</h3>
    <button class="btn--outline">Reset</button>
  </section>
  <section class="quiz_questions-list">
    <app-question></app-question>
  </section>
  <div class="quiz_validation">
    <button (click)="goToResultPage()" class="btn">Show score</button>
  </div>
</section>
