<section class="cat">
  <h2 class="cat_title">Bienvenu sur la page categories</h2>
  <p class="cat_presentation">Veuillez choisir une categorie</p>

  
  <form action="" class="cat_form">
    <label for="name">Filtre sur la catégorie</label>
    <input type="text" id="name" name="name" placeholder="Entrez une catégorie" [(ngModel)]="inputCategory" required>
    <button class="btn--icon" (click)="filterCategory()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg>
    </button>
    <button type="reset" (click)="resetCategories()">Reset</button>
  </form>

  <div>
    <ul class="cat_container">
      <li *ngFor="let category of filteredCategories; let j = index">
        <button
        (click)="goToCategoryPage(category?.id)"
        >
          {{category?.categoryLabel}}
        </button>
      </li>
    </ul>
  </div>

</section>
